Постройте топ фильмов в категориях Action и Comedy

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook

In [6]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [7]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [26]:
# GENRE = 'Action'
GENRE = 'Comedy'
# решила расчитать ранг фильма, как сумму оценок по фильму, деленную на время :)

In [27]:
find_movies_by_genre = movies[movies['genres'].str.find(GENRE) != -1]
find_movies_by_genre.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance

In [28]:
movies_by_genre_with_ratings = find_movies_by_genre.join(ratings.set_index('movieId'), on='movieId')
movies_by_genre_with_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18.0,3.5,1.455210e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,4.0,9.657056e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21.0,3.5,1.407619e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27.0,3.0,9.626853e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,8.504666e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32.0,3.0,8.567361e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33.0,3.0,9.396474e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,8.320590e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,8.489940e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44.0,3.0,8.692519e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45.0,4.0,9.511702e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46.0,5.0,8.347879e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50.0,3.0,1.514238e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54.0,3.0,8.302473e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57.0,5.0,9.657960e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63.0,5.0,1.443200e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64.0,4.0,1.161520e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66.0,4.0,1.104644e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68.0,2.5,1.158531e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71.0,5.0,8.647379e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73.0,4.5,1.464196e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76.0,0.5,1.439166e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,78.0,4.0,1.252575e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82.0,2.5,1.084468e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86.0,4.0,1.344083e+09
...,...,...,...,...,...,...
9703,185435,"Game Over, Man! (2018)",Action|Comedy,249.0,3.0,1.526508e+09
9704,185473,Blockers (2018),Comedy,514.0,3.0,1.533946e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,25.0,5.0,1.535471e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,62.0,4.0,1.527274e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,98.0,5.0,1.532458e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,233.0,2.5,1.536968e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,248.0,4.5,1.534600e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,249.0,5.0,1.531612e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,305.0,5.0,1.532878e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,331.0,4.0,1.537235e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,338.0,1.0,1.530148e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,380.0,3.0,1.531351e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,514.0,3.5,1.537151e+09
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,586.0,4.0,1.529899e+09
9712,188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,462.0,4.5,1.533519e+09
9713,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,50.0,3.0,1.533302e+09
9713,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,380.0,4.0,1.534123e+09
9713,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,596.0,4.0,1.535709e+09
9715,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,212.0,4.5,1.532362e+09
9716,188797,Tag (2018),Comedy,514.0,4.0,1.535941e+09
9717,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,318.0,4.5,1.535036e+09
9718,189043,Boundaries (2018),Comedy|Drama,338.0,2.5,1.530148e+09
9723,189713,BlacKkKlansman (2018),Comedy|Crime|Drama,462.0,2.5,1.536467e+09
9726,190209,Jeff Ross Roasts the Border (2017),Comedy,338.0,4.0,1.530148e+09
9731,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184.0,4.5,1.537109e+09
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,3.5,1.537099e+09
9734,193571,Silver Spoon (2014),Comedy|Drama,184.0,4.0,1.537099e+09
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [29]:
sum_rating_movies_by_genre = movies_by_genre_with_ratings.groupby(['movieId'])[['rating']].sum().sort_values('movieId').head(20)
sum_rating_movies_by_genre

         rating
movieId
1         843.0
3         169.5
4          16.5
5         150.5
7         172.0
11        257.0
12         46.0
18         74.0
19        240.0
20         37.5
21        311.0
38          8.5
39        342.5
45        106.0
52         97.0
54          7.0
58        149.0
63         19.0
64         11.0
65         78.5

In [30]:
lasttime_movies_by_genre = movies_by_genre_with_ratings.groupby(['movieId'])[['timestamp']].max().sort_values('movieId').head(20)
lasttime_movies_by_genre

            timestamp
movieId
1        1.535710e+09
3        1.498505e+09
4        1.237760e+09
5        1.517441e+09
7        1.498514e+09
11       1.533949e+09
12       1.519182e+09
18       1.532897e+09
19       1.513990e+09
20       1.498505e+09
21       1.513990e+09
38       1.419795e+09
39       1.535828e+09
45       1.498517e+09
52       1.498525e+09
54       1.027521e+09
58       1.285904e+09
63       1.342228e+09
64       9.800520e+08
65       1.518641e+09

In [31]:
top_movies_by_genre = sum_rating_movies_by_genre.join(movies.set_index('movieId'), on='movieId')
top_movies_by_genre['timestamp'] = lasttime_movies_by_genre
top_movies_by_genre['rate'] = top_movies_by_genre['rating']/top_movies_by_genre['timestamp']*100000000
top_movies_by_genre.sort_values('rate',ascending=False).head(20)

,rating,title,genres,timestamp,rate
movieId,,,,,
1,843.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.535710e+09,54.893188
39,342.5,Clueless (1995),Comedy|Romance,1.535828e+09,22.300681
21,311.0,Get Shorty (1995),Comedy|Crime|Thriller,1.513990e+09,20.541748
11,257.0,"American President, The (1995)",Comedy|Drama|Romance,1.533949e+09,16.754139
19,240.0,Ace Ventura: When Nature Calls (1995),Comedy,1.513990e+09,15.852153
58,149.0,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance,1.285904e+09,11.587175
7,172.0,Sabrina (1995),Comedy|Romance,1.498514e+09,11.478036
3,169.5,Grumpier Old Men (1995),Comedy|Romance,1.498505e+09,11.311273
5,150.5,Father of the Bride Part II (1995),Comedy,1.517441e+09,9.918011
45,106.0,To Die For (1995),Comedy|Drama|Thriller,1.498517e+09,7.073662
52,97.0,Mighty Aphrodite (1995),Comedy|Drama|Romance,1.498525e+09,6.473030
65,78.5,Bio-Dome (1996),Comedy,1.518641e+09,5.169096
18,74.0,Four Rooms (1995),Comedy,1.532897e+09,4.827460
12,46.0,Dracula: Dead and Loving It (1995),Comedy|Horror,1.519182e+09,3.027946
20,37.5,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,1.498505e+09,2.502494
63,19.0,Don't Be a Menace to South Central While Drink...,Comedy|Crime,1.342228e+09,1.415557
4,16.5,Waiting to Exhale (1995),Comedy|Drama|Romance,1.237760e+09,1.333053
64,11.0,Two if by Sea (1996),Comedy|Romance,9.800520e+08,1.122389
54,7.0,"Big Green, The (1995)",Children|Comedy,1.027521e+09,0.681251
38,8.5,It Takes Two (1995),Children|Comedy,1.419795e+09,0.598678